{% extends "base.twig" %}

{% block content %}

    <h1>Welcome to TrackRatings</h1>
    <p>TrackRatings is a free and open-source project to bring map ratings to <a
                href="https://en.wikipedia.org/wiki/Trackmania_(2020_video_game)" target="_blank">TrackMania</a> without
        depending on server plugins or other jank. The client plugin will upload votes given to it to the TrackRatings
        website and share them with any other players who have the plugin installed.</p>
    <p>Get the OpenPlanet client plugin <a href="https://openplanet.dev/plugin/trackratings" target="_blank">HERE</a>.
    </p>
    <hr />
    <p>Currently this site is rather bare-bones, but more features will be added as availability and demand permits. For
        more information or to say hi, feel free to drop by the <a href="https://discord.gg/BdKpuFcYzG" target="_blank">Discord
            server</a>.</p>

{% endblock %}
